{% extends "base.html" %}


{% load static %}
{% block title %} 

{% endblock title %}




    
        {% block content %}
        
        <div class="flex-1 p-6 fade-in">
      
            {% if messages %}
            <div class="mb-4">
              {% for message in messages %}
                <div class="p-4 mb-2 text-sm {% if message.tags == 'success' %}bg-green-100 text-green-700{% elif message.tags == 'error' %}bg-red-100 text-red-700{% elif message.tags == 'warning' %}bg-yellow-100 text-yellow-700{% endif %} rounded">
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
          
            <h1 class="text-3xl font-semibold mb-6">Tableau de bord</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
              <!-- Stat Box 1 -->
              <div class="bg-white p-6 rounded-lg shadow-lg">
                <h3 class="text-lg font-medium text-gray-700 mb-4">Nombre de menus</h3>
                <p class="text-3xl font-bold text-blue-600">{{ numbers_menus }}</p>
              </div>
              <!-- Stat Box 2 -->
              <div class="bg-white p-6 rounded-lg shadow-lg">
                <h3 class="text-lg font-medium text-gray-700 mb-4">Nombre de plats</h3>
                <p class="text-3xl font-bold text-green-600">{{ numbers_plats }}</p>
              </div>
              
              
              </div>
            </div>
          </div>
        </div>
        
        {% endblock content %}


