{% extends "base.html" %}


{% load static %}
{% block title %} 

{% endblock title %}


{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
  <div class="container-fluid py-1 px-3">
    {% if messages %}
    <div class="mb-4">
      {% for message in messages %}
        <div class="p-4 mb-2 text-sm {% if message.tags == 'success' %}bg-green-100 text-green-700{% elif message.tags == 'error' %}bg-red-100 text-red-700{% elif message.tags == 'warning' %}bg-yellow-100 text-yellow-700{% endif %} rounded">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
    
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <ul class="navbar-nav  justify-content-start">
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-warning btn-sm mb-0 me-3" href="{% url 'plat:add_plat'%}">Ajouter un plat</a>
        </li>
      </ul>
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group input-group-outline">
          <label class="form-label">Recherche par nom</label>
          <input type="text" class="form-control" name="search" value="{{search_field}}">
        </div>
      </div>
      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item d-flex align-items-center">
          <button class="btn btn-outline-primary btn-sm mb-0 me-3">Recherche</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-warning shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Liste des plats ({{ total }})</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Libelle</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 align-items-center"></th>
                </tr>
              </thead>
              <tbody>
                {% for plat in plats %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ plat.name }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ plat.summary }}</h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <a href="{% url 'plat:update_plat' plat.id %}" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-1 px-4 rounded transition duration-300">Modifier</a>
                    <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-4 rounded ml-2 transition duration-300" onclick="openModal({{ plat.id }})">Supprimer</button>
                  </td>
                </tr>
                {% endfor %}
    </div>
  </div>
  
  
   <!-- Modal -->
   <div id="deleteModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full hidden modal-enter">
    <div class="relative top-1/4 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white modal-enter-active">
        <div class="mt-3 text-center">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Confirmer la suppression</h3>
            <div class="mt-2 px-7 py-3">
                <p class="text-sm text-gray-500">Êtes-vous sûr de vouloir supprimer cet élément ? Cette action est irréversible.</p>
            </div>
            <div class="items-center px-4 py-3">
                <button id="confirmDelete" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded transition duration-300" onclick="deleteItem()">Supprimer</button>
                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded ml-2 transition duration-300" onclick="closeModal()">Annuler</button>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript -->
<script>
    let platIdToDelete;

    function openModal(id) {
        platIdToDelete = id;
        const modal = document.getElementById('deleteModal');
        modal.classList.remove('hidden');
    }

    function closeModal() {
        const modal = document.getElementById('deleteModal');
        modal.classList.add('hidden');
    }

    function deleteItem() {
        window.location.href = `/plat/delete/${platIdToDelete}/`;
    }
</script>
  
{% endblock content %}